.service h1 {
    text-align: center;
    font-family: 'Pacifico';
    color: #ffffff;
    font-size: 32px;
    padding-top: 7rem;
    letter-spacing: 5px;
}

.service-sub {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media screen and (max-width:600px) {
        width: 100%;
    }
}

.service {
    margin: 10rem 0;
    background: rgba(208, 48, 77, 0.9);
    position: relative;

    .bg {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -1;
        object-fit: cover;
    }
}

.service2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    padding-top: 5rem;
    padding-bottom: 7rem;

    @media screen and (max-width:600px) {
        flex-direction: column;
    }

    div {
        width: 30%;

        @media screen and (max-width:600px) {
            width: 100%;
            margin-top: 2.8rem;
        }
    }
}


.service h2 {
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}

.service p {
    text-align: center;
    color: #ffffff;
    font-size: 13px;
}

.img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
}

.img1 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    margin-left: 11rem;
}