.service h1{
    text-align: center;
}
.service-main{
    margin-left: 4rem;
    text-align: left;
    width: 25%;
}
.service h2{
    text-align: center;
}
.service p{
    text-align: center;
}
.service-main-1{ 
    width: 25%;
}