.service h1{
    text-align: center;
    margin: 0 auto;
    margin-top: 3rem;
    font-family: pacifico;
    color: #ffffff;
    letter-spacing: 2px;
    font-size: 28px;
}

.service-sub{
    width: 32%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.service{    
    padding-top: 2rem; 
    background: #d0304d;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.service2{
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.service h2{
    text-align: center;
    font-size: 18px;
    color: #ffffff;
}
.service p{
    text-align: center;
    color: #ffffff;
    font-size: 14px;
}

.img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    margin: 0 auto;
}
.img1 {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
    margin-left: 11rem;
}