@font-face {
  font-family: firma-bold;
  src: url(./assets/fonts/br-firma/BRFirmaCW-Bold.woff2);
}

@font-face {
  font-family: firma;
  src: url(./assets/fonts/br-firma/BRFirmaCW-Regular.woff2);
}

@font-face {
  font-family: Sailec;
  src: url(./assets/fonts/sailec/Sailec-Regular.woff2);
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5 {
  letter-spacing: -0.7px;
  line-height: 1.25;
  margin-bottom: 0.7em;
  font-weight: bold;
  font-family: firma-bold;
}

a {
  cursor: pointer;
  text-decoration: none;
  box-sizing: border-box;
}

a,
p {
  font-family: Sailec;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}


button {
  cursor: pointer;
}

.sparkle{
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: #00A651;
  border-radius: 50%;
  display: block;
  -webkit-animation: sparkle 10s linear infinite;
  animation: sparkle 10s linear infinite;
  opacity: 0;
}

@keyframes sparkle {
  0%{
      transform: scale(0.3),rotate(0deg);
      opacity: 0;
  }
  25%{
    transform: scale(1),rotate(360deg);
    opacity:0.6;
  }
  50%{
      transform:scale(1.3),rotate(720deg);
      opacity:0;
  }
  75%{
    transform:scale(1),rotate(720deg);
    opacity:0.6;
  }
  100%{
      transform: scale(0.3),rotate(0deg);
      opacity:0;
  }
}

@keyframes float_normal {
  0%{
      transform: translateY(0);
  }
  50%{
     transform: translateY(20px);
  }
  100%{
      transform: translateY(0);
  }
}